load_dotenv
PyPDF2
streamlit_chat

pandas
pyarrow
plotly
streamlit

pypdf
langchain
torch
accelerate
bitsandbytes
transformers
sentence_transformers
faiss_cpu
chainlit
ctransformers
langchain_openai
langchain-community
